html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #333333;
}

html {
  min-height: 100%;
}

body {
  background: linear-gradient(138.11deg, #fef452 0%, #942f70 121.92%) no-repeat;
}

* {
  box-sizing: border-box;
}
